.content-body {
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 16px;
}

.applicant-toolbar {
    background-color: rgb(207, 218, 228);
}

#toolbar-title {
    font-size: medium;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

#ptw-req-stp {
    background-color: rgba(255, 255, 255, 0.882);
    border-radius: 10px;
}

.common-section-form, .section-one-form {
    margin: 16px;
}

.section-title {
    font-size: medium;
    font-weight: lighter;
}

.subsection-title {
    font-size: medium;
    font-weight: 450;
}

.required-label {
    color: crimson;
}

.permit-type-options, 
.location-of-work-options, 
.loc-sector-options, 
.task-desc-input, 
.wah-s1-ard-name-input,
.wah-s1-ard-nric-or-fin-no-input,
.wah-s1-ard-org-type-input,
.wah-s1-ard-org-name-input,
.wah-s1-ard-dep-name-input,
.wah-s1-ard-contact-no-input,
.cs-s1-ard-name-input,
.cs-s1-ard-nric-or-fin-no-input,
.cs-s1-ard-org-type-input,
.cs-s1-ard-org-name-input,
.cs-s1-ard-dep-name-input,
.cs-s1-ard-contact-no-input,
.cs-s1-ph-input,
.apl-name-input, 
.apl-nric-or-fin-no-input, 
.apl-org-type-options, 
.apl-org-name-options, 
.apl-dep-name-input, 
.apl-contact-no-input, 
.apl-email-input,
#apl-dcl-checkbox {
    width: 512.5px;
}

mat-grid-list {
    background-color: rgb(252, 252, 252);
    width: 650px;
}

mat-grid-list mat-grid-tile-header {
    font-weight: 425; 
}

mat-grid-list mat-grid-tile {
    font-weight: medium;
    border-width: 0.25px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 2.5px;
}

.hwp-info-container,
.cwp-info-container,
.ep-info-container,
.wahp-info-container,
.csp-info-container {
    width: 475px;
    padding: 24px;
    border-radius: 0.5em;
}

.apl-dcl-container {
    width: 625px;
    padding: 24px;
    border-radius: 0.5em;
    padding-right: 32px;
    background-color: rgb(207, 218, 228);
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.cwp-info-container {
    background-color: gainsboro;
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.hwp-info-container {
    background-color: beige;
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.cwp-info-container {
    background-color: azure;
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.ep-info-container {
    background-color: dodgerblue;
    color: white;
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.wahp-info-container {
    background-color: whitesmoke;
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.csp-info-container {
    background-color: lightcyan;
    border-width: 1.5px;
    border-style: solid;
    border-color: gray;
}

.start-date-picker, 
.start-time-picker, 
.end-date-picker, 
.end-time-picker, 
.no-of-workers-input, 
.no-of-spvs-input {
    width: 245px;
}

.no-of-spvs-input {
    padding-left: 22.5px;
}

#cmi-left-col, 
#cmi-mid-col, 
#cmi-right-col,
#cmi-per-left-col, 
#cmi-per-mid-col, 
#cmi-per-right-col {
    width: 100%;
}

#cmi-mid-col {
    text-align: center;
}

#cmi-col {
    width: 100%;
    overflow: hidden;
}

#cmi-per-col {
    width: 50%;
    float: left;
}

#cmi-ppe-col {
    margin-left: 600px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-bottom: 8px;
}

.wah-s1-cmi-remarks-input, .hw-s1-cmi-remarks-input, 
.cw-s1-cmi-remarks-input, .e-s1-cmi-remarks-input {
    width: 85%;
}

.cs-s1-cmi-ppe-specify-input {
    width: 600px;
}