<header>
    <div>
        <mat-toolbar class = "applicant-toolbar">
            <mat-toolbar-row>
                <mat-icon style = "color: rgb(25, 25, 25)">book</mat-icon><span id = "toolbar-title">&emsp;PTW TRACKING LOG (VALIDATOR MODE)</span>
                <span class = "spacer"></span>
                <div id = "signed-in-as" *ngIf = "this.userNameDisplay != ''">
                    <span id = "signed-in-as-label"><mat-label style = "font-weight: 525">{{ this.userNameDisplay }}<mat-icon style = "vertical-align: middle">person</mat-icon></mat-label></span>
                </div>
                <div id = "sign-in-as" *ngIf = "this.userNameDisplay == ''">
                    <span id = "signed-in-as-label"><mat-label>...</mat-label></span>
                </div>
                <button mat-icon-button class = "toolbar-menu-button" [matMenuTriggerFor] = "applicantMenu" aria-label = "Applicant toolbar menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #applicantMenu = "matMenu">
                    <button mat-menu-item (click) = "this.navigateTo('dashboard')">
                        <mat-icon>dashboard</mat-icon>
                        <span>Dashboard</span>
                    </button>
                    <button mat-menu-item (click) = "this.openSignOutDialog()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</header>
<div class = "content-body">
    <div class = "control-container">
        <div class = "sort-by-container">
            <div id = "filter-search-year">
                <mat-form-field appearance = "fill">
                    <mat-label>Sort year</mat-label>
                    <mat-select [formControl] = "this.ptwYearFilter">
                        <mat-option *ngFor = "let year of this.ptwYearList" [value] = "year">{{ year? year : "None" }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class = "vertical-divider"></div>
            <div id = "filter-search-ptw-id">
                <mat-form-field appearance = "fill">
                    <mat-label>Search permit ID</mat-label>
                    <input matInput [formControl] = "this.ptwIdFilter" placeholder = "Enter keyword">
                    <button *ngIf = "this.ptwIdFilter.value" matSuffix mat-icon-button aria-label = "Clear" (click) = "this.ptwIdFilter.patchValue('');">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div id = "filter-search-loc-of-work">
                <mat-form-field appearance = "fill">
                    <mat-label>Search location of work</mat-label>
                    <input matInput [formControl] = "this.locOfWorkFilter" placeholder = "Enter keyword">
                    <button *ngIf = "this.locOfWorkFilter.value" matSuffix mat-icon-button aria-label = "Clear" (click) = "this.locOfWorkFilter.patchValue('');">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div id = "filter-search-permit-type">
                <mat-form-field appearance = "fill">
                    <mat-label>Filter permit type</mat-label>
                    <mat-select [formControl] = "this.permitTypeFilter">
                        <mat-option value = "">None</mat-option>
                        <mat-option value = "WAHP">WAHP</mat-option>
                        <mat-option value = "CSP">CSP</mat-option>
                        <mat-option value = "HWP">HWP</mat-option>
                        <mat-option value = "CWP">CWP</mat-option>
                        <mat-option value = "EP">EP</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div id = "filter-search-request-status">
                <mat-form-field appearance = "fill">
                    <mat-label>Filter request status</mat-label>
                    <mat-select [formControl] = "this.requestStatusFilter">
                        <mat-option value = "">None</mat-option>
                        <mat-option value = "Pending">Pending</mat-option>
                        <mat-option value = "Approved">Approved</mat-option>
                        <mat-option value = "Rejected">Rejected</mat-option>
                        <mat-option value = "Cancelled">Cancelled</mat-option>
                        <mat-option value = "---">Nulled/Invalid</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div id = "filter-search-permit-status">
                <mat-form-field appearance = "fill">
                    <mat-label>Filter permit status</mat-label>
                    <mat-select [formControl] = "this.permitStatusFilter">
                        <mat-option value = "">None</mat-option>
                        <mat-option value = "Processing">Processing</mat-option>
                        <mat-option value = "Valid">Valid</mat-option>
                        <mat-option value = "---">Invalid</mat-option>
                        <mat-option value = "Expired">Expired</mat-option>
                        <mat-option value = "Terminated">Terminated</mat-option>
                        <mat-option value = "Closed">Closed</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class = "vertical-divider"></div>
            <div id = "tl-legends">
                <mat-card>
                    <mat-label id = "status-text" style = "color: red">(C*)</mat-label>
                    <mat-label style = "margin-right: 16px"> To cancel</mat-label>
                    <mat-label id = "status-text" style = "color: red">(T*)</mat-label>
                    <mat-label> To close/terminate</mat-label>
                </mat-card>
            </div>
        </div>
        <div class = "refresh-container">
            <button 
                mat-button color = "primary" 
                [disabled] = "this.isLoading" 
                (click) = "
                    this.refresh(); 
                    this.ptwYearFilter.setValue(''); 
                    this.ptwIdFilter.patchValue(''); 
                    this.locOfWorkFilter.patchValue('');
                    this.permitTypeFilter.setValue('');
                    this.requestStatusFilter.setValue('');
                    this.permitStatusFilter.setValue('');
                "><mat-icon>refresh</mat-icon>&emsp;REFRESH</button>
        </div>
    </div>
    <mat-table [dataSource] = "this.dataSource" class = "tracking-log-table" matSort> 
        <ng-container matColumnDef = "ptwId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Permit ID</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">
                <mat-label id = "ptw-id-text" >
                    {{ colElems.ptwId }}
                </mat-label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "locationOfWork">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Location of work</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">{{ colElems.locationOfWork.main }} ⬦ {{ colElems.locationOfWork.sub }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef = "permitType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Permit type</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">
                <mat-icon *ngIf = "colElems.permitType == 'Hot work permit (HWP)'" style = "color: brown; vertical-align: middle;">whatshot</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Cold work permit (CWP)'" style = "color: darkslateblue; vertical-align: middle;">ac_unit</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Electrical permit (EP)'" style = "color: khaki; vertical-align: middle;">flash_on</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Work at height permit (WAHP)'" style = "color: darkslategrey; vertical-align: middle;">location_city</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Confined space permit (CSP)'" style = "color: forestgreen; vertical-align: middle;">zoom_out_map</mat-icon>
                <mat-label id = "ptw-type-text" *ngIf = "colElems.permitType == 'Hot work permit (HWP)'">&emsp;HWP</mat-label>
                <mat-label id = "ptw-type-text" *ngIf = "colElems.permitType == 'Cold work permit (CWP)'">&emsp;CWP</mat-label>
                <mat-label id = "ptw-type-text" *ngIf = "colElems.permitType == 'Electrical permit (EP)'">&emsp;EP</mat-label>
                <mat-label id = "ptw-type-text" *ngIf = "colElems.permitType == 'Work at height permit (WAHP)'">&emsp;WAHP</mat-label>
                <mat-label id = "ptw-type-text" *ngIf = "colElems.permitType == 'Confined space permit (CSP)'">&emsp;CSP</mat-label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "permitValidity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Permit validity</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">
                <mat-label>
                    {{ colElems.startWorkingDateTime | date: 'short' }} ➡ {{ colElems.endWorkingDateTime | date: 'short' }}
                </mat-label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "applicantName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Applicant name</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">{{ colElems.applicantDets?.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef = "submissionTimestamp">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Application date</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">{{ colElems.timestamp | date: 'short' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef = "requestStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Request status</mat-header-cell>
            <mat-cell *matCellDef = "let colElems" 
                [ngStyle] = " 
                    colElems.requestStatus == 'Approved' ? { color: 'forestgreen' } : 
                    colElems.requestStatus == 'Rejected' ? { color: 'maroon' } : 
                    colElems.requestStatus == 'Pending' ? { color: 'gray' } : 
                    { color: '' }">
                <mat-label id = "status-text">{{ colElems.requestStatus | uppercase }} <mat-label style = "color: red" *ngIf = "colElems.wantToCancel && colElems.cancelledTimestamp == 'None'">(C*)</mat-label></mat-label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "permitStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Permit status</mat-header-cell>
            <mat-cell *matCellDef = "let colElems" 
                [ngStyle] = "
                    colElems.ptwStatus?.permitStatus == 'Processing' ? { color: 'royalblue' } : 
                    colElems.ptwStatus?.permitStatus == 'Valid' ? { color: 'forestgreen' } : 
                    colElems.ptwStatus?.permitStatus == 'Expired' ? { color: 'goldenrod' } :
                    colElems.ptwStatus?.permitStatus == 'Terminated' ? { color: 'maroon' } : 
                    colElems.ptwStatus?.permitStatus == 'Closed' ? { color: 'rgb(103, 58, 183)' } :
                    { color: '' }">
                <mat-label id = "status-text">{{ colElems.ptwStatus?.permitStatus | uppercase }} <mat-label style = "color: red" *ngIf = "colElems.ptwStatus.wantToTerminate && colElems.ptwStatus.terminatedTimestamp == 'None' && colElems.ptwStatus.permitStatus != 'Expired'">(T*)</mat-label></mat-label>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef = "processingStatus">
            <mat-header-cell *matHeaderCellDef>Eval. | Appr.</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">
                <mat-checkbox disabled [checked] = "colElems.safetyAssessorEvaluation?.passed"></mat-checkbox>
                <mat-checkbox style = "padding-left: 8px;" disabled [checked] = "colElems.authorisedManagerApproval?.passed"></mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef = "action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef = "let colElems">
                <button style = "width: 100%" class = "check-details-button" mat-stroked-button color = "primary" (click) = "this.expandSelectedPtw(colElems.id)"><mat-icon>open_in_new</mat-icon>&emsp;Open</button>
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef = "this.displayedHeaderColumns"></mat-header-row>
        <mat-row *matRowDef = "let row; columns: this.displayedHeaderColumns;"></mat-row>
    </mat-table>

    <div *ngIf = "this.activeData.length === 0" id = "no-data-container">
        <mat-label>No PTW data currently available</mat-label>
        <br><br>
        <mat-icon>report_problem</mat-icon>
    </div>

    <mat-paginator [pageSizeOptions] = "[10, 20, 50, 100]"></mat-paginator> 
</div>