<header>
    <p>
        <mat-toolbar class = "applicant-toolbar">
            <mat-toolbar-row>
                <mat-icon style = "color: rgb(25, 25, 25)">book</mat-icon><span id = "toolbar-title">&emsp;PTW TRACKING LOG</span>
                <span class = "spacer"></span>
                <button mat-icon-button class = "toolbar-menu-button" [matMenuTriggerFor] = "applicantMenu" aria-label = "Applicant toolbar menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #applicantMenu = "matMenu">
                    <button mat-menu-item (click) = "this.navigateTo('ptw-request')">
                        <mat-icon>note_add</mat-icon>
                        <span>Request Form</span>
                    </button>
                    <button mat-menu-item (click) = "this.navigateTo('')">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Exit</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </p>
</header>
<div class = "content-body">
    <table mat-table *ngIf = "this.activePageSortedData.length > 0" [dataSource] = "this.activePageSortedData" class = "tracking-log-table" matSort (matSortChange) = "this.sort($event)">
        <ng-container matColumnDef = "id">
            <th mat-sort-header = "id" mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.id }}</td>
        </ng-container>
    
        <ng-container matColumnDef = "ptwId">
            <th mat-sort-header = "ptwId" mat-header-cell *matHeaderCellDef>Permit ID</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.ptwId }}</td>
        </ng-container>
    
        <ng-container matColumnDef = "locationOfWork">
            <th mat-sort-header = "locationOfWork" mat-header-cell *matHeaderCellDef>Location of Work</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.locationOfWork?.main }}</td>
        </ng-container>

        <ng-container matColumnDef = "subsectorLocation">
            <th mat-sort-header = "subsectorLocation" mat-header-cell *matHeaderCellDef>Subsector</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.locationOfWork?.sub }}</td>
        </ng-container>

        <ng-container matColumnDef = "permitType">
            <th mat-sort-header = "permitType" mat-header-cell *matHeaderCellDef>Permit Type</th>
            <td mat-cell *matCellDef = "let colElems">
                <mat-icon *ngIf = "colElems.permitType == 'Hot work (HW)'" style = "color: brown">whatshot</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Cold work (CW)'" style = "color: darkslateblue">ac_unit</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Electrical (E)'" style = "color: khaki">flash_on</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Work at height (WAH)'" style = "color: darkslategrey">location_city</mat-icon>
                <mat-icon *ngIf = "colElems.permitType == 'Confined space (CS)'" style = "color: forestgreen">zoom_out_map</mat-icon>&emsp;{{ colElems.permitType }}
            </td>
        </ng-container>
    
        <ng-container matColumnDef = "startWorkingDateTime">
            <th mat-sort-header = "startWorkingDateTime" mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.startWorkingDateTime | date: 'mediumDate' }}</td>
        </ng-container>
    
        <ng-container matColumnDef = "endWorkingDateTime">
            <th mat-sort-header = "endWorkingDateTime" mat-header-cell *matHeaderCellDef>End Date</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.endWorkingDateTime | date: 'mediumDate' }}</td>
        </ng-container>
    
        <ng-container matColumnDef = "applicantName">
            <th mat-sort-header = "applicantName" mat-header-cell *matHeaderCellDef>Applicant Name</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.applicantDets?.name }}</td>
        </ng-container>
    
        <ng-container matColumnDef = "submissionTimestamp">
            <th mat-sort-header = "submissionTimestamp" mat-header-cell *matHeaderCellDef>Application Date</th>
            <td mat-cell *matCellDef = "let colElems">{{ colElems.timestamp | date: 'mediumDate' }}</td>
        </ng-container>
    
        <ng-container matColumnDef = "requestStatus">
            <th mat-sort-header = "requestStatus" mat-header-cell *matHeaderCellDef>Request Status</th>
            <td mat-cell *matCellDef = "let colElems" 
                [ngStyle] = " 
                    colElems.requestStatus == 'Approved' ? { color: 'green' } : 
                    colElems.requestStatus == 'Rejected' ? { color: 'red' } : 
                    colElems.requestStatus == 'Pending' ? { color: 'gray' } : 
                    { color: '' }">
                <strong>{{ colElems.requestStatus }}</strong>
            </td>
        </ng-container>

        <ng-container matColumnDef = "permitStatus">
            <th mat-sort-header = "permitStatus" mat-header-cell *matHeaderCellDef>Permit Status</th>
            <td mat-cell *matCellDef = "let colElems" 
                [ngStyle] = "
                    colElems.ptwStatus?.permitStatus == 'Invalid' ? { color: 'gray' } : 
                    colElems.ptwStatus?.permitStatus == 'Valid' ? { color: 'green' } : 
                    colElems.ptwStatus?.permitStatus == 'Terminated' ? { color: 'red' } : 
                    colElems.ptwStatus?.permitStatus == 'Expired' ? { color: 'red' } :
                    { color: '' }">
                <strong>{{ colElems.ptwStatus?.permitStatus }}</strong>
            </td>
        </ng-container>

        <ng-container matColumnDef = "action">
            <th mat-header = "action" mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef = "let colElems"><button style = "width: 100%" class = "check-details-button" mat-stroked-button color = "primary" (click) = "this.expandSelectedPtw(colElems.id)">See More</button></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef = "this.displayedHeaderColumns"></tr>
        <tr mat-row *matRowDef = "let row; columns: this.displayedHeaderColumns;"></tr>
    </table>
    <mat-paginator [length] = "pageLength"
                    *ngIf = "this.activePageSortedData.length > 0"
                   [pageSize] = "pageSize"
                   [pageSizeOptions] = "pageSizeOptions"
                   (page) = "onPageChanged($event)"
                   aria-label = "Select page"></mat-paginator>
    <div *ngIf = "this.activePageSortedData.length === 0" id = "no-data-container">
        <mat-label>No PTW data currently available</mat-label>
        <br><br>
        <mat-icon>report_problem</mat-icon>
    </div>
</div>