.content-body {
    padding-top: 8px;
    margin: 16px;
    padding-bottom: 24px;
}

.applicant-toolbar {
    background-color: rgb(207, 218, 228);
}

#toolbar-title {
    font-size: medium;
}

.spacer {
    flex: 1 1 auto;
}

.tracking-log-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden !important;
    background-color: rgb(255, 255, 255, 0.5);
}

#no-data-container {
    height: 600px;
    background-color: #ffffffd7;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    font-size: medium;
    color: grey;
    font-weight: 425;
}

.control-container {
    height: 75px;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-bottom: 8px;
}

.sort-by-container {
    display: flex;
    justify-content: flex-start;
}

#sort-by-option {
    margin-right: 16px;
}

.sort-by-container #sort-by-option mat-form-field {
    height: 50px;
    width: 300px;
}

.sort-by-container #sort-by-year-option mat-form-field {
    height: 50px;
    width: 125px;
}

.refresh-container button {
    width: fit-content;
    height: 50px;
}

#ptw-id-text, #status-text, #ptw-type-text, #effective-period-text {
    font-weight: 425;
}