.content-body {
    padding-top: 8px;
    margin: 16px;
    padding-bottom: 24px;
}

.applicant-toolbar {
    background-color: rgb(207, 218, 228);
}

#toolbar-title {
    font-size: medium;
}

.spacer {
    flex: 1 1 auto;
}

.vertical-divider {
    border-left: 2px solid gainsboro;
    height: 50px;
    margin-right: 16px;
}

.tracking-log-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden !important;
    background-color: rgb(255, 255, 255, 0.8);
    margin-bottom: 8px;
}

mat-paginator {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.9);
}

#no-data-container {
    height: 300px;
    background-color: #ffffffd7;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    font-size: medium;
    color: grey;
    font-weight: 425;
    margin-bottom: 8px;
}

.control-container {
    height: 75px;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-bottom: 8px;
}

.sort-by-container {
    display: flex;
    justify-content: flex-start;
}

.sort-by-container 
#filter-search-year, 
#filter-search-ptw-id, 
#filter-search-loc-of-work, 
#filter-search-permit-type, 
#filter-search-request-status,
#filter-search-permit-status {
    height: 50px;
    margin-right: 16px;
}

.sort-by-container #filter-search-year mat-form-field {
    width: 125px;
}

.sort-by-container #filter-search-ptw-id mat-form-field {
    width: 150px;
}

.sort-by-container #filter-search-permit-type mat-form-field {
    width: 175px;
}

.sort-by-container #filter-search-request-status mat-form-field {
    width: 175px;
}

.sort-by-container #filter-search-permit-status mat-form-field {
    width: 175px;
}

.sort-by-container #filter-search-loc-of-work mat-form-field {
    width: 200px;
}

.sort-by-container #tl-legends mat-card {
    width: fit-content;
    background-color: rgba(228, 208, 208, 0.5);
}

.refresh-container button {
    width: fit-content;
    height: 50px;
}

#ptw-id-text, #status-text, #ptw-type-text, #effective-period-text {
    font-weight: 425;
}