<header>
    <div>
        <mat-toolbar class = "applicant-toolbar">
            <mat-toolbar-row>
                <mat-icon style = "color: rgb(25, 25, 25)">home</mat-icon><span id = "toolbar-title">&emsp;HOME</span>
                <span class = "spacer"></span>
                    <button mat-icon-button class = "toolbar-menu-button" [matMenuTriggerFor] = "applicantMenu" aria-label = "Applicant toolbar menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #applicantMenu = "matMenu">
                        <button mat-menu-item (click) = "this.navigateTo('tracking-log')">
                            <mat-icon>book</mat-icon>
                            <span>Tracking Log</span>
                        </button>
                    </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</header>
<div class = "content-body">
    <div class = "landing-title">
        <h2>Permit to Work (PTW)</h2>
        <h3>E-Management System</h3>
    </div>
    <div id = "apl-vld-options-container"> 
        <mat-grid-list cols = "1" rowHeight= "75px">
            <mat-grid-tile>To proceed, please sign in as:</mat-grid-tile>
            <mat-grid-tile>
                <a 
                    class = "sign-in-button" 
                    mat-raised-button (click) = "this.navigateTo('ptw-request')" 
                    routerLinkActive = "active" 
                    style="background-color: #66CCCC;"
                ><mat-icon>person</mat-icon>&emsp;AN APPLICANT</a>
            </mat-grid-tile>
            <mat-grid-tile><b>OR</b></mat-grid-tile>
            <mat-grid-tile>
                <a 
                    class = "sign-in-button" 
                    mat-raised-button (click) = "this.navigateTo('validator-sign-in')" 
                    routerLinkActive = "active" 
                    style="background-color: #CCFFFF;"
                ><mat-icon>supervisor_account</mat-icon>&emsp;A VALIDATOR</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>