.content-body {
    padding-bottom: 36px;
}

.applicant-toolbar {
    background-color: rgb(207, 218, 228);
}

#toolbar-title {
    font-size: medium;
}

.spacer {
    flex: 1 1 auto;
}

.landing-title {
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.882);
    border-width: 1.25px;
    border-style: solid;
    border-color: white;
}

.sign-in-body, .sign-in-form {
    display: grid;
	place-items: center;
}

.sign-in-body {
    background-color: rgba(233, 243, 252, 0.784);
    border-radius: 10px;
    margin-top: 24px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    border-width: 1.25px;
    border-style: solid;
    border-color: rgba(233, 243, 252);
}

.user-email-input, .user-pw-input {
    width: 150%;
}

.sign-in-button, .back-button {
    width: 150px;
    height: 50px;
}