.content-body {
    margin-top: -12px;
}

.applicant-toolbar {
    background-color: rgb(207, 218, 228);
}

#toolbar-title {
    font-size: medium;
}

.spacer {
    flex: 1 1 auto;
}

.landing-title {
    margin: auto;
    padding: 16px;
    text-align: center;
    background-color: rgb(233, 243, 252);
}

.sign-in-body, .sign-in-form {
    display: grid;
	place-items: center;
}

.user-email-input, .user-pw-input {
    width: 150%;
}

.sign-in-button, .back-button {
    width: 150px;
    height: 50px;
}