<!--<mat-toolbar class = "app-toolbar">
    <mat-toolbar-row>
        <img [src] = "this.toolbarLogo" [alt] = "this.logoAlt" width = "50px" height = "50px" style = "border-radius: 0.5em;"/>
        <div *ngIf = "this.homeTitleAsSignOut">
            <span>
                <a style = "cursor: pointer" class = "toolbar-title" (click) = "this.openSignOutDialog()">&emsp;School of Applied Sciences - Temasek Polytechnic</a>
            </span>
        </div>
        <div *ngIf = "!this.homeTitleAsSignOut">
            <span>
                <a style = "cursor: pointer" class = "toolbar-title" (click) = "this.navigateTo('')">&emsp;School of Applied Sciences -Temasek Polytechnic</a>
            </span>
        </div>
        <span class = "toolbar-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>-->
<router-outlet></router-outlet>