.dialog-box {
    width: 650px;
}

.mat-dialog-content {
    height: 165px;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

mat-radio-group {
    display: inline-grid;
}

.rft-option {
    margin: 10px;
}

.status-remarks-input {
    width: 100%;
}

.status-res {
    padding: 12px;
    color: white;
    background-color: indianred;
    border-radius: 0.5em;
}

.required-label {
    color: crimson;
}

.mat-icon {
    vertical-align: middle;
}

.type-to-confirm {
    text-align: right;
}

.type-to-confirm-input {
    font-size: 12px;
}