.content-body {
    padding-top: 8px;
    margin: 16px;
    padding-bottom: 16px;
}

.applicant-toolbar {
    background-color: rgb(207, 218, 228);
}

mat-grid-list {
    margin: 8px;
}

mat-grid-tile {
    background-color: white;
}

#toolbar-title, #signed-in-as-label {
    font-size: medium;
}

#label-text {
    font-weight: 425;
}

.spacer {
    flex: 1 1 auto;
}

#signed-in-as {
    background-color: rebeccapurple;
    font-weight: lighter;
    color: whitesmoke;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5em;
}

#left-content-container {
    width: 50%;
    float: left;
}

#pending-req-item {
    width: 100%;
}

#left-content, #right-content, #pending-reqs-content {
    padding: 8px;
}

#pending-reqs-content {
    padding: 16px;
    height: 335px;
    overflow-y: scroll;
    background-color: rgb(250, 250, 250);
}

.permit-status-statistics {
    display: flex;
}

#pss-item {
    background-color: dimgray;
    border-radius: 5px;
    color: whitesmoke;
    margin: 10px;
}

#right-content-container {
    float: right;
    width: 48.75%;
}