/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0em; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: aliceblue;
    background-image: url('assets/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
