.dialog-box {
    width: 700px;
}

.mat-dialog-content {
    height: 500px;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.required-label {
    color: crimson;
}

#label-text {
    font-weight: 425;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-bottom: 8px;
}

.wah-s3-pr-remarks-input {
    width: 350px;
    height: 10px;
}
 
.hw-s3-pr-remarks-input, 
.cw-s3-pr-remarks-input, 
.e-s3-pr-remarks-input {
    width: 350px;
}