<div class = "dialog-box">
    <h2 mat-dialog-title>Approve/Reject Request</h2>
    <br>
    <div *ngFor = "let dt of this.fetched.ptw">
        <div mat-dialog-content *ngIf = "dt.permitType == 'Work at height permit (WAHP)'">
            <mat-label class = "required-label">* Required field</mat-label>
            <br><br>
            <mat-label id = "label-text">PERMIT REVIEW</mat-label>
            <br><br>
            <div>
                <div>
                    <mat-label>Proper permit-to-work evaluation has been completed.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.wah_s3_pr_q01_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "wah-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.wah_s3_pr_q01_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <br><br>
            <div>
                <div>
                    <mat-label>No incompatible works that may pose additional hazards.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.wah_s3_pr_q02_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "wah-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.wah_s3_pr_q02_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <br><br>
            <div>
                <div>
                    <mat-label>Control measures have been implemented effectively.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.wah_s3_pr_q03_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "wah-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.wah_s3_pr_q03_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <br><br>
            <div>
                <div>
                    <mat-label>Fall from heights risks have been effectively mitigated.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.wah_s3_pr_q04_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "wah-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.wah_s3_pr_q04_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <br><br>
            <mat-divider></mat-divider>
            <br>
            <mat-label id = "label-text">FINAL DECISION</mat-label>
            <br><br>
            <div>
                <mat-slide-toggle [(ngModel)] = "this.authorisedManagerReviewPassed">
                    <mat-label id = "label-text" *ngIf = "this.authorisedManagerReviewPassed">&emsp;Pass</mat-label>
                    <mat-label id = "label-text" *ngIf = "!this.authorisedManagerReviewPassed">&emsp;Not Pass</mat-label>
                </mat-slide-toggle>
            </div>
        </div>
        <div mat-dialog-content *ngIf = "dt.permitType == 'Confined space permit (CSP)'">
            <mat-label class = "required-label">* Required field</mat-label>
            <br><br>
            <mat-label id = "label-text">PERMIT REVIEW</mat-label>
            <br><br>
            <div>
                <div>
                    <mat-label>The levels of oxygen, flammable gas and toxic substances are within the permissible range.*<br>(Refer to EVALUATION STATUS tab)</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cs_s3_pr_q01_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <br>
            <div>
                <div>
                    <mat-label>The confined space is adequately	ventilated.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cs_s3_pr_q02_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <br>
            <div>
                <div>
                    <mat-label>Effective steps have been taken to prevent any ingress of dangerous gases, vapours or any other dangerous substances into the confined space.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cs_s3_pr_q03_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <br>
            <div>
                <div>
                    <mat-label>All reasonably practicable measures have been taken to ensure the safety and health of persons who will be entering or working in the confined space.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cs_s3_pr_q04_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <mat-label id = "label-text">FINAL DECISION</mat-label>
            <br><br>
            <div>
                <mat-slide-toggle [(ngModel)] = "this.authorisedManagerReviewPassed">
                    <mat-label id = "label-text" *ngIf = "this.authorisedManagerReviewPassed">&emsp;Pass</mat-label>
                    <mat-label id = "label-text" *ngIf = "!this.authorisedManagerReviewPassed">&emsp;Not Pass</mat-label>
                </mat-slide-toggle>
            </div>
        </div>
        <div mat-dialog-content *ngIf = "dt.permitType == 'Hot work permit (HWP)'">
            <mat-label class = "required-label">* Required field</mat-label>
            <br><br>
            <mat-label id = "label-text">PERMIT REVIEW</mat-label>
            <br><br>
            <div>
                <div>
                    <mat-label>Proper permit-to-work evaluation has been completed.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.hw_s3_pr_q01_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "hw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.hw_s3_pr_q01_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>No incompatible works that may pose additional hazards.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.hw_s3_pr_q02_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "hw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.hw_s3_pr_q02_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>Control measures have been implemented effectively.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.hw_s3_pr_q03_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "hw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.hw_s3_pr_q03_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>Hot work risks have been effectively mitigated.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.hw_s3_pr_q04_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "hw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.hw_s3_pr_q04_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <br>
            <mat-label id = "label-text">FINAL DECISION</mat-label>
            <br><br>
            <div>
                <mat-slide-toggle [(ngModel)] = "this.authorisedManagerReviewPassed">
                    <mat-label id = "label-text" *ngIf = "this.authorisedManagerReviewPassed">&emsp;Pass</mat-label>
                    <mat-label id = "label-text" *ngIf = "!this.authorisedManagerReviewPassed">&emsp;Not Pass</mat-label>
                </mat-slide-toggle>
            </div>
        </div>
        <div mat-dialog-content *ngIf = "dt.permitType == 'Cold work permit (CWP)'">
            <mat-label class = "required-label">* Required field</mat-label>
            <br><br>
            <mat-label id = "label-text">PERMIT REVIEW</mat-label>
            <br><br>
            <div>
                <div>
                    <mat-label>Proper permit-to-work evaluation has been completed.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cw_s3_pr_q01_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "cw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.cw_s3_pr_q01_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>No incompatible works that may pose additional hazards.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cw_s3_pr_q02_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "cw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.cw_s3_pr_q02_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>Control measures have been implemented effectively.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cw_s3_pr_q03_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "cw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.cw_s3_pr_q03_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>Cold work risks have been effectively mitigated.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.cw_s3_pr_q04_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "cw-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.cw_s3_pr_q04_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <br>
            <mat-label id = "label-text">FINAL DECISION</mat-label>
            <br><br>
            <div>
                <mat-slide-toggle [(ngModel)] = "this.authorisedManagerReviewPassed">
                    <mat-label id = "label-text" *ngIf = "this.authorisedManagerReviewPassed">&emsp;Pass</mat-label>
                    <mat-label id = "label-text" *ngIf = "!this.authorisedManagerReviewPassed">&emsp;Not Pass</mat-label>
                </mat-slide-toggle>
            </div>
        </div>
        <div mat-dialog-content *ngIf = "dt.permitType == 'Electrical permit (EP)'">
            <mat-label class = "required-label">* Required field</mat-label>
            <br><br>
            <mat-label id = "label-text">PERMIT REVIEW</mat-label>
            <br><br>
            <div>
                <div>
                    <mat-label>Proper permit-to-work evaluation has been completed.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.e_s3_pr_q01_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "e-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.e_s3_pr_q01_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>No incompatible works that may pose additional hazards.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.e_s3_pr_q02_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "e-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.e_s3_pr_q02_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>Control measures have been implemented effectively.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.e_s3_pr_q03_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "e-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.e_s3_pr_q03_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <mat-label>Electrical risks have been effectively mitigated.*</mat-label>
                    <br><br>
                </div>
                <div>
                    <mat-radio-group 
                        required 
                        aria-label = "Select an option" 
                        [(ngModel)] = "this.e_s3_pr_q04_choiceInput">
                        <mat-radio-button *ngFor = "let rads of this.radioButtonGroup" [value] = "rads">
                            {{ rads }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field class = "e-s3-pr-remarks-input" appearance = "outline">
                        <mat-label>Remarks</mat-label>
                        <input style = "height: 15px" matInput placeholder = "Remarks" [(ngModel)] = "this.e_s3_pr_q04_remarksInput" [ngModelOptions] = "{ standalone: true }">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <br>
            <mat-label id = "label-text">FINAL DECISION</mat-label>
            <br><br>
            <div>
                <mat-slide-toggle [(ngModel)] = "this.authorisedManagerReviewPassed">
                    <mat-label id = "label-text" *ngIf = "this.authorisedManagerReviewPassed">&emsp;Pass</mat-label>
                    <mat-label id = "label-text" *ngIf = "!this.authorisedManagerReviewPassed">&emsp;Not Pass</mat-label>
                </mat-slide-toggle>
            </div>
        </div>
    </div>
    <div mat-dialog-actions *ngFor = "let dt of this.fetched.ptw">
        <div *ngIf = "dt.permitType == 'Work at height permit (WAHP)'">
            <button 
                    mat-button 
                    [disabled] = "
                        this.wah_s3_pr_q01_choiceInput == '' ||
                        this.wah_s3_pr_q02_choiceInput == '' ||
                        this.wah_s3_pr_q03_choiceInput == '' ||
                        this.wah_s3_pr_q04_choiceInput == ''
                    "
                    (click) = "this.authorisePtw()">
                    <mat-label 
                        *ngIf = "
                                this.wah_s3_pr_q01_choiceInput == '' ||
                                this.wah_s3_pr_q02_choiceInput == '' ||
                                this.wah_s3_pr_q03_choiceInput == '' ||
                                this.wah_s3_pr_q04_choiceInput == ''
                            ">COMPLETE ALL FIELDS</mat-label>
                    <mat-label 
                        style = "color: forestgreen"
                        *ngIf = "
                            this.wah_s3_pr_q01_choiceInput != '' &&
                            this.wah_s3_pr_q02_choiceInput != '' &&
                            this.wah_s3_pr_q03_choiceInput != '' &&
                            this.wah_s3_pr_q04_choiceInput != '' &&
                            this.authorisedManagerReviewPassed
                        ">APPROVE</mat-label>
                    <mat-label 
                        style = "color: crimson"
                        *ngIf = "
                            this.wah_s3_pr_q01_choiceInput != '' &&
                            this.wah_s3_pr_q02_choiceInput != '' &&
                            this.wah_s3_pr_q03_choiceInput != '' &&
                            this.wah_s3_pr_q04_choiceInput != '' &&
                            !this.authorisedManagerReviewPassed
                        ">REJECT</mat-label>
            </button>
        </div>
        <div *ngIf = "dt.permitType == 'Confined space permit (CSP)'">
            <button 
                    mat-button 
                    [disabled] = "
                        this.cs_s3_pr_q01_choiceInput == '' ||
                        this.cs_s3_pr_q02_choiceInput == '' ||
                        this.cs_s3_pr_q03_choiceInput == '' ||
                        this.cs_s3_pr_q04_choiceInput == ''
                    "
                    (click) = "this.authorisePtw()">
                    <mat-label 
                        *ngIf = "
                                this.cs_s3_pr_q01_choiceInput == '' ||
                                this.cs_s3_pr_q02_choiceInput == '' ||
                                this.cs_s3_pr_q03_choiceInput == '' ||
                                this.cs_s3_pr_q04_choiceInput == ''
                            ">COMPLETE ALL FIELDS</mat-label>
                    <mat-label 
                        style = "color: forestgreen"
                        *ngIf = "
                            this.cs_s3_pr_q01_choiceInput != '' &&
                            this.cs_s3_pr_q02_choiceInput != '' &&
                            this.cs_s3_pr_q03_choiceInput != '' &&
                            this.cs_s3_pr_q04_choiceInput != '' &&
                            this.authorisedManagerReviewPassed
                        ">APPROVE</mat-label>
                    <mat-label 
                        style = "color: crimson"
                        *ngIf = "
                            this.cs_s3_pr_q01_choiceInput != '' &&
                            this.cs_s3_pr_q02_choiceInput != '' &&
                            this.cs_s3_pr_q03_choiceInput != '' &&
                            this.cs_s3_pr_q04_choiceInput != '' &&
                            !this.authorisedManagerReviewPassed
                        ">REJECT</mat-label>
            </button>
        </div>
        <div *ngIf = "dt.permitType == 'Hot work permit (HWP)'">
            <button 
                    mat-button 
                    [disabled] = "
                        this.hw_s3_pr_q01_choiceInput == '' ||
                        this.hw_s3_pr_q02_choiceInput == '' ||
                        this.hw_s3_pr_q03_choiceInput == '' ||
                        this.hw_s3_pr_q04_choiceInput == ''
                    "
                    (click) = "this.authorisePtw()">
                    <mat-label 
                        *ngIf = "
                                this.hw_s3_pr_q01_choiceInput == '' ||
                                this.hw_s3_pr_q02_choiceInput == '' ||
                                this.hw_s3_pr_q03_choiceInput == '' ||
                                this.hw_s3_pr_q04_choiceInput == ''
                            ">COMPLETE ALL FIELDS</mat-label>
                    <mat-label 
                        style = "color: forestgreen"
                        *ngIf = "
                            this.hw_s3_pr_q01_choiceInput != '' &&
                            this.hw_s3_pr_q02_choiceInput != '' &&
                            this.hw_s3_pr_q03_choiceInput != '' &&
                            this.hw_s3_pr_q04_choiceInput != '' &&
                            this.authorisedManagerReviewPassed
                        ">APPROVE</mat-label>
                    <mat-label 
                        style = "color: crimson"
                        *ngIf = "
                            this.hw_s3_pr_q01_choiceInput != '' &&
                            this.hw_s3_pr_q02_choiceInput != '' &&
                            this.hw_s3_pr_q03_choiceInput != '' &&
                            this.hw_s3_pr_q04_choiceInput != '' &&
                            !this.authorisedManagerReviewPassed
                        ">REJECT</mat-label>
            </button>
        </div>
        <div *ngIf = "dt.permitType == 'Cold work permit (CWP)'">
            <button 
                    mat-button 
                    [disabled] = "
                        this.cw_s3_pr_q01_choiceInput == '' ||
                        this.cw_s3_pr_q02_choiceInput == '' ||
                        this.cw_s3_pr_q03_choiceInput == '' ||
                        this.cw_s3_pr_q04_choiceInput == ''
                    "
                    (click) = "this.authorisePtw()">
                    <mat-label 
                        *ngIf = "
                            this.cw_s3_pr_q01_choiceInput == '' ||
                            this.cw_s3_pr_q02_choiceInput == '' ||
                            this.cw_s3_pr_q03_choiceInput == '' ||
                            this.cw_s3_pr_q04_choiceInput == ''
                        ">COMPLETE ALL FIELDS</mat-label>
                    <mat-label 
                        style = "color: forestgreen"
                        *ngIf = "
                            this.cw_s3_pr_q01_choiceInput != '' &&
                            this.cw_s3_pr_q02_choiceInput != '' &&
                            this.cw_s3_pr_q03_choiceInput != '' &&
                            this.cw_s3_pr_q04_choiceInput != '' &&
                            this.authorisedManagerReviewPassed
                        ">APPROVE</mat-label>
                    <mat-label 
                        style = "color: crimson"
                        *ngIf = "
                            this.cw_s3_pr_q01_choiceInput != '' &&
                            this.cw_s3_pr_q02_choiceInput != '' &&
                            this.cw_s3_pr_q03_choiceInput != '' &&
                            this.cw_s3_pr_q04_choiceInput != '' &&
                            !this.authorisedManagerReviewPassed
                        ">REJECT</mat-label>
            </button>
        </div>
        <div *ngIf = "dt.permitType == 'Electrical permit (EP)'">
            <button 
                    mat-button 
                    [disabled] = "
                        this.e_s3_pr_q01_choiceInput == '' ||
                        this.e_s3_pr_q02_choiceInput == '' ||
                        this.e_s3_pr_q03_choiceInput == '' ||
                        this.e_s3_pr_q04_choiceInput == ''
                    "
                    (click) = "this.authorisePtw()">
                    <mat-label 
                        *ngIf = "
                                this.e_s3_pr_q01_choiceInput == '' ||
                                this.e_s3_pr_q02_choiceInput == '' ||
                                this.e_s3_pr_q03_choiceInput == '' ||
                                this.e_s3_pr_q04_choiceInput == ''
                            ">COMPLETE ALL FIELDS</mat-label>
                    <mat-label 
                        style = "color: forestgreen"
                        *ngIf = "
                            this.e_s3_pr_q01_choiceInput != '' &&
                            this.e_s3_pr_q02_choiceInput != '' &&
                            this.e_s3_pr_q03_choiceInput != '' &&
                            this.e_s3_pr_q04_choiceInput != '' &&
                            this.authorisedManagerReviewPassed
                        ">APPROVE</mat-label>
                    <mat-label 
                        style = "color: crimson"
                        *ngIf = "
                            this.e_s3_pr_q01_choiceInput != '' &&
                            this.e_s3_pr_q02_choiceInput != '' &&
                            this.e_s3_pr_q03_choiceInput != '' &&
                            this.e_s3_pr_q04_choiceInput != '' &&
                            !this.authorisedManagerReviewPassed
                        ">REJECT</mat-label>
            </button>
        </div>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
</div>